<!DOCTYPE html>
<head>
  <title>Chat window</title>
  <script type="text/javascript" src="js/zepto.js"></script>
  <script type="text/javascript" src="js/tmpl.js"></script>

<script type="text/javascript">
function fromChild() {
  alert('called')
}
function sendChild(method, data) {
  if (typeof (window.frames["messages"][method]) == "function")
    window.frames["messages"][method](data);
  else
    alert("messages."+method+" NOT found");
}
function appendMessage(data) {
  if (typeof (window.frames[0].appendMessage) == "function")
    window.frames[0].appendMessage(data);
  else
    alert("messages.appendMessage NOT found");  
}

  function formItem(arr, name) {
    for(var i=0, len=arr.length; i < len; i++) {
      if(arr[i]["name"] == name) {
        return arr[i]["value"];
      }
    }
    return null;
  }
  function arrayToHash(arr) {
    var ret = {}
    for(var i=0, len=arr.length; i < len; i++) {
      var element = arr[i];
      ret[element["name"]] = element["value"];
    }
    return ret;
  }

var last_sender = '';
var last_type = '';

$(function() {

  $('form').submit(function(event) {
    event.preventDefault();
    event.stopPropagation();

    // list of atributes: https://trac.adium.im/wiki/MessageStyleKeywords
    var data = arrayToHash($(this).serializeArray());
    //var date = Time.new();
    data["date"] = "2004-04-19 12:46:32 -0500";
    data["time"] = "12:46:32";
    data["senderColor"] = data["sender"] == "me" ? "#2aa198" : "#859900";

    if (last_sender == data["sender"] && last_type == data["tmpl"]) {
      console.debug("consecutive", data["messageClasses"])
      data["messageClasses"] = data["messageClasses"] + " consecutive";
    }

    appendMessage(tmpl(data["tmpl"], data));

    last_sender = data["sender"];
    last_type = data["tmpl"];
    return false; //this will call preventDefault / topPropogation
  });
});

</script>

<style>
#contactList {
  height: 400px;
  width: 200px;
  border: 1px solid #666;
}
#messages {
  height: 400px;
  width: 100%;
  border: 1px solid #666;
}
</style>
</head>

<body>
  <!--
  <iframe id="contactList" src="./contactList.html"></iframe>
  -->
  <iframe height="100" id="messages" src="./messages.html"></iframe>
  <form>
    <input type="hidden" name="tmpl" value="content_tmpl">
    <!-- not sure to include history, mention, focus, firstFocus -->
    <input type="hidden" name="messageClasses" value="outgoing message">
    <input type="hidden" name="sender" value="me">
    <!-- do this as a select / radio box -->
    From: me
    <label>To: <input type="text" name="to" value="tj"></label>
    <label>Message: <input type="text" name="message" value="something to say"></label>
    <input type="submit" value="From Me">
  </form>
  <form>
    <input type="hidden" name="tmpl" value="content_tmpl">
    <!-- not sure to include history, mention, focus, firstFocus -->
    <input type="hidden" name="messageClasses" value="incoming message">
    <input type="hidden" name="to" value="me">
    <!-- do this as a select / radio box -->
    <label>From: <input type="text" name="sender" value="tj"></label>
    To: me
    <label>Message: <input type="text" name="message" value="something to say"></label>
    <input type="submit" value="To Me">
  </form>
Status
  <form>
    <input type="hidden" name="tmpl" value="status_tmpl">
    <!-- what about away_message -->
    <input type="hidden" name="messageClasses" value="status away">
    <label>Message: <input type="text" name="message" value="something to say"></label>
    <input type="submit" value="status">
  </form>

<!-- template borrowed from https://github.com/ezanol/Adium-Solarized -->

<script type="text/html" id="content_tmpl">
<div class="<%=messageClasses%>">
    <span class="time"><%= time %></span>
    <span class="sender" style="color:<%= senderColor %>;border-color: <%= senderColor%>"><%=sender%></span>
    <span class="themessage"><%=message%></span>
</div>
<div id="insert"></div>
</script>
<script type="text/html" id="status_tmpl">
<div class="<%=messageClasses%>">
    <span class="time"><%=time%></span>
    <span class="themessage"><%=message%></span>
</div>
<div id="insert"></div>
</script>


</body>
</html>
